<div class="form-group">
	<%= f.label "First Name", class: "control-label" %>
	<%= f.text_field :first_name, class:"form-control" %>
</div>

<div class="form-group">
	<%= f.label "Last Name", class: "control-label" %>
	<%= f.text_field :last_name, class:"form-control" %>
</div>

<div class="form-group">
	<%= f.label "Hourly Wage", class: "control-label" %>
	<%= f.text_field :wage, class:"form-control" %>
</div>

<div class="form-group">
	<%= f.label "Status", class: "control-label" %>
	<%= f.select :status, options_for_select([['Active', true], ['Relieved', false]], @employee.status), 
					 {:prompt => 'Select One'}, {:class => "form-control"} %>
</div>