<%= form_for [@taskable, @task], remote: true do |f| %>
	<p><%= f.text_field :name, placeholder: "Task name", class: "form-control input-medium" %><%= f.text_field :due_date, placeholder: "Date", :class => "date-select form-control input-medium" %> <%= f.hidden_field :user_id, :value => 1 %> <%= f.submit "New Task", class: "btn btn-success btn-sm" %> <%= link_to "Cancel", machine_path(@taskable) %></p>
<% end %>