<li>
	<%= task.name %> 
	<% if task.due_date %>
		(<%= task.due_date.strftime("%B %e, %Y") %>)
	<% end %>
	<% if task.completed == false %>
		<%= link_to "delete", [@taskable, task], method: :delete, data: { confirm: "You sure?" } %>
	<% end %>
	<% if task.completed == false %>
		<%= button_to "Done", polymorphic_path([@taskable, task], 
									 :action => 'complete'), :method => :put %></button>
	<% else %>
		Completed: <%= task.updated_at.strftime("%B %e, %Y") %>
	<% end %>
</li>