<!-- BEGIN PAGE HEADER -->
<div class="row">
	
	<div class="col-md-12">
		
		<!-- BEGIN PAGE TITLE & BREADCRUMB -->
			<h3 class="page-title">Timesheets</h3> 
			
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<i class="icon-home"></i>
					<%= link_to "Dashboard", root_path %>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<i class="icon-time"></i>
					<%= link_to "All Timesheets", timesheets_path %>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<%= @timesheet.startdate.strftime("%b %e") %> - <%= @timesheet.enddate.strftime("%b %e, %Y") %>
				</li>
			</ul>
		<!-- END PAGE TITLE & BREADCRUMB -->
		
	</div><!-- END COL-MD-12 -->
	
</div><!-- END ROW -->
<!-- END PAGE HEADER -->

<!-- BEGIN PAGE CONTENT -->
<div class="row">
<div class="col-md-12">
	
	<!-- BEGIN PORTLET BOX -->
	<div class="portlet box ">
		
		<!-- BEGIN RESPONSIVE TABLE -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Employee</th>
						<% @timesheet.date_range(@timesheet.startdate, @timesheet.enddate).each do |week_date| %>
								<th><%= week_date.to_date.strftime("%a %d") %><br /></th>
						<% end %>
						<th>Total</th>
					</tr>
				</thead>
		
				<tbody>
				<% @employees.each do |employee| %>
					<tr>
						<td><%= employee.full_name %></td>
						<% employee.workdays.active(@timesheet).each do |workday| %>
							<td>
							
							<div class="btn-group">
								<button type="button" class="btn btn-xs dropdown-toggle clearfix" data-hover="dropdown" data-toggle="dropdown" data-delay="1000" data-close-others="true">
									<span><i class="icon-plus"></i></i> Add <i class="icon-angle-down"></i></span>
								</button>

								<div class="dropdown-menu dropdown">
									<%= form_for @assignment do |assignment_form| %>
										<div class="form-body">
								
												<%= assignment_form.hidden_field :workday_id, :value => workday.id %>
												<%= assignment_form.hidden_field :employee_id, :value => employee.id %>
												<%= assignment_form.hidden_field :timesheet_id, :value => @timesheet.id %>
												<%= assignment_form.hidden_field :date, :value => workday.date %>
												<div class="form-group">
													<%= assignment_form.text_field :hours, class: "form-control" %>
												</div>
												<div class="form-group">
													<%= assignment_form.collection_select(:job_id, Job.all, :id, :name, {:prompt => true}, { :class => "form-control"}) %>
												</div>
												<%= assignment_form.submit "Save", class: "btn green btn-xs" %>
											</div>
										</div>
									<% end %>
								</div>
							</div>
								
								<div class="row">
									<div class="col-md-12">
									<% workday.assignments.each do |assignment| %>
										<span class="badge badge-info badge-roundless"><%= assignment.hours %> hrs on <%= Job.find(assignment.job_id).name %></span><br />
									<% end %>
									</div>
								</div>
							</td>
						<% end %>
						<td><span class="label label-primary"><%= employee.assignments.active(@timesheet).sum('hours') %></span></td>
					</tr>
				<% end %>
				</tbody>
	
			<table>
		</div>
		<!-- END RESPONSIVE TABLE -->
	</div>
	<!-- END PORTLET BOX -->
	
</div>
</div>
<!-- END PAGE CONTENT -->