<h1>Equipment Profile</h1>

<table class="table table-bordered table-striped">
	<tr>
		<td><strong>Make</strong></td>
		<td><%= @machine.make %>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Model</strong></td>
		<td><%= @machine.model %>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Year</strong></td>
		<td><%= @machine.year %>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Serial</strong></td>
		<td><%= @machine.serial %>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Status</strong></td>
		<td><%= @machine.status %>
		<td></td>
	</tr>
	
	<% @metas.each do |meta| %>
		<tr>
			<td><strong><%= meta.meta_key %></strong></td>
			<td><%= meta.meta_value %></td>
			<td>
				<% if !meta.attachment.file_file_name.nil? %>
					<%= image_tag meta.attachment.file.url(:small) %>
				<% end %>
			</td>
		</tr>
	<% end %>
	
</table>

<hr>

<h2>Tasks</h2>
<ul id="task-list">
	<%= render @tasks.active %>
</ul>

<%= form_for [@taskable, @task] do |f| %>
	<p><%= f.text_field :name %> - <%= f.date_select :due_date %> - <%= f.hidden_field :user_id, :value => 1 %> <%= f.submit %></p>
<% end %>

<ul id="task-list">
	<%= render @tasks.completed %>
</ul>
