<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>

<head>
	<meta charset="utf-8" />
  	<title>TwogsApp</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="" name="description" />
   <meta content="" name="author" />
   <meta name="MobileOptimized" content="320">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<script>
		jQuery(document).ready(function() {    
			App.init(); 
			Index.init();
			TableManaged.init();
		});
	</script>


  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
</head>

<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
			<%= image_tag("2gs-logo.png", height:"24", width:"auto")  %>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<%= yield %>
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		2013 &copy; 2GS LLC
	</div>
	<!-- END COPYRIGHT -->
</body>
<!-- END BODY -->

</html>
